.text {
  text-align: center;
  line-height: 11vw;
  font-size: 15vw;
  font-family: 'Catamaran', sans-serif;
  font-style: normal;
  font-weight: normal;
  color: #bbd4d4;
}
@-ms-viewport {
  width: device-width;
}
