// colors
// ABC4FF
// B6CCFE
// C1D3FE
// CCDBFD
// D7E3FC
// E2EAFC
// EDF2FB
.wrapper {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #000000;
  flex-direction: column;
}

html,
body {
  margin: 0;
  padding: 0;
}
