.SubtitlePhrase {
  display: flex;
  flex-direction: row;
}

.word {
  padding-right: 0.4vw;
  color: white;
}

@media only screen and (max-width: 600px) {
  .spacer {
    font-size: 2vw;
    padding-right: 1vw;
    padding-top: 0.8vw;
    padding-left: 0.8vw;
  }

  .word {
    padding-right: 0.6vw;
  }
}

$teal: #40ffd1;
$purple: #cc00ff;
$red: #ff4343;
$pink: #ff2976;
$green: #10ff45;
$lavender: #f8a7ff;
$blue: #00b2ff;
$yellow: #ffd644;

.teal {
  transition: 0.3s;

  &:hover {
    transform: translateY(-5px);
  }
  a {
    color: $teal;
  }
}

.purple {
  transition: 0.3s;

  &:hover {
    transform: translateY(-5px);
  }
  a {
    color: $purple;
  }
}

.red {
  transition: 0.3s;

  &:hover {
    transform: translateY(-5px);
  }
  a {
    color: $red;
  }
}

.pink {
  transition: 0.3s;

  &:hover {
    transform: translateY(-5px);
  }
  a {
    color: $pink;
  }
}

.green {
  transition: 0.3s;

  &:hover {
    transform: translateY(-5px);
  }
  a {
    color: $green;
  }
}

.blue {
  transition: 0.3s;

  &:hover {
    transform: translateY(-5px);
  }
  a {
    color: $blue;
  }
}

.lavender {
  transition: 0.3s;

  &:hover {
    transform: translateY(-5px);
  }
  a {
    color: $lavender;
  }
}

.yellow {
  transition: 0.3s;

  &:hover {
    transform: translateY(-5px);
  }
  a {
    transition: 0.3s;
    color: $yellow;
  }
}
