.SubtitleLine {
  display: flex;
  flex-direction: row;
}

.phraseContainer {
  display: flex;
  flex-direction: row;
}

.spacer {
  padding-right: 0.4vw;
  font-size: 1.5vw;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media only screen and (max-width: 600px) {
  .spacer {
    font-size: 2vw;
    padding-right: 1vw;
  }
}
