.subtitleText {
  display: flex;
  flex-direction: row;
  text-align: center;
  font-size: 1.4vw;
  font-family: 'Catamaran', sans-serif;
  font-style: normal;
  font-weight: normal;
  color: #bbd4d4;

  @media only screen and (max-width: 560px) {
    flex-direction: column;
    font-size: 2.8vw;
    margin-top: 1vw;
  }
}

.contact {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  svg {
    fill: #bebebe;
    padding-left: 0.6vw;
    padding-right: 0.6vw;
    margin-top: 0.8vw;
    size: 1.5vw;
  }
  @media only screen and (max-width: 560px) {
    justify-content: left;
    margin-left: 3px;
  }
}

.link {
  color: #89c4f4;
  border-bottom: none;
}

@-ms-viewport {
  width: device-width;
}
