.subtitleText {
  display: flex;
  flex-direction: row;
  text-align: center;
  font-size: 1.3vw;
  font-family: 'Catamaran', sans-serif;
  font-style: normal;
  font-weight: normal;
  color: #bebebe;

  @media only screen and (max-width: 560px) {
    flex-direction: column;
    font-size: 2.5vw;
    margin-top: 1vw;
  }
}

.link {
  color: #89c4f4;
  border-bottom: none;
}

@-ms-viewport {
  width: device-width;
}
