.subtitleText {
  text-align: center;
  font-size: 2vw;
  font-family: 'Catamaran', sans-serif;
  font-style: normal;
  font-weight: normal;
  color: #e2eafc;
}
@-ms-viewport {
  width: device-width;
}
